/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-font-size: 12;
    -fx-font: "Arial";  
    -fx-background-color: linear-gradient(to bottom, white, black);
}

.button {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
	-fx-border-radius: 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0, 1);
}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 1;
}
